body{
    background-color: #000000;    
}

footer{
    text-align: center;

    
}
footer.img{
    image-resolution: 20px;
    background-image: none;
    align-items: center;
}
 h1{
    color: #ffffff;
    font-size: 120px;
 }
.antigas{
    font-size: 120px;
}
.do{
    color: #464646;
    text-align: left;
}
h1{
    font-size: 90px;
    color: #ffffff;
}
h2{
    text-align: left;
    

}
audio{
    align-items: right;
    size: 120px;
    
}
