body{
    background-image: image();
    background: scroll;
}

footer{
    text-align: center;
    image-resolution: 20px;
}

 h1{
    color: #020202;
    font-size: 120px;

h1{
    font-size: 120px;
}
h2{
    color: #fff;
    text-align: :left
}
p{
    font-size: 90px;
    color: #000000;
}
audio{
    align-items: right;
    
}
