body{
    background-image: image();
    
    background: fixed;
    
    
}

footer{
    text-align: center;

    
}
footer.img{
    image-resolution: 20px;
    background-image: none;
    align-items: center;
}
 h1{
    color: #020202;
    font-size: 120px;
 }
h1{
    font-size: 120px;
}
h2{
    color: #fff;
    text-align: left;
}
p{
    font-size: 90px;
    color: #000000;
}
audio{
    align-items: right;
    
}
